In [4]:
import pandas as pd

In [26]:
#Read data from CSV file
totals = pd.read_csv('Lab1/totals.csv').set_index(keys=['name'])
counts = pd.read_csv('Lab1/counts.csv').set_index(keys=['name'])

In [7]:
print(totals)

                                2016-01  2016-02  2016-03  2016-04  2016-05
name
BURNABY SIMON FRASER U             1809     1482     2159      374      606  \
CALGARY INTL A                      121       22       46       40      683
GANDER INTL A                       896     1232      992     1106     1236
HALIFAX INTL A                     1491     1473     1452     1595     1001
REVELSTOKE                          930      561      533      204      546
SHERBROOKE                          183      982      621      471      667
TORONTO LESTER B. PEARSON INT'      363      491      729      681      346
VANCOUVER INTL A                   1682     1304     1616      242      516
YELLOWKNIFE A                       220       90       28      120       98

                                2016-06  2016-07  2016-08  2016-09  2016-10
name
BURNABY SIMON FRASER U              428      442       68      956     1429  \
CALGARY INTL A                      616     2061      834      253      276
GANDER INTL A                      1015     1264     1096     1026     2422
HALIFAX INTL A                      725      734      445      845     2185
REVELSTOKE                          748      662      274      785     1620
SHERBROOKE                          671      525     1599      433     1176
TORONTO LESTER B. PEARSON INT'      269      399      667      663      452
VANCOUVER INTL A                    582      328      138      784     2034
YELLOWKNIFE A                       306      154      280      488      158

                                2016-11  2016-12
name
BURNABY SIMON FRASER U             1349     1846
CALGARY INTL A                       27      224
GANDER INTL A                      1184     1099
HALIFAX INTL A                     1305     1835
REVELSTOKE                         1293      295
SHERBROOKE                          594      627
TORONTO LESTER B. PEARSON INT'      497      821
VANCOUVER INTL A                   2402     1520
YELLOWKNIFE A                       176      116

In [22]:
#Find city with lowest precipitation
lowest_precipitation_city = totals.sum(axis=1).idxmin()
print("City with lowest total precipitation:")
print(lowest_precipitation_city, "\n")

City with lowest total precipitation:
YELLOWKNIFE A

In [27]:
#Find avg precipitation each month
monthly_avg_precip = totals.mean(axis=0) / counts.mean(axis=0)

print("Average precipitation in each month: ")
print(monthly_avg_precip)

Average precipitation in each month:
2016-01    27.779783
2016-02    30.426295
2016-03    29.410072
2016-04    17.966543
2016-05    21.344569
2016-06    20.694981
2016-07    24.977186
2016-08    19.856618
2016-09    24.065637
2016-10    44.684411
2016-11    34.615686
2016-12    32.366795
dtype: float64

In [28]:
#Find avg precipitation each city across 12 months
cities_avg_precip = totals.mean(axis=1) / counts.mean(axis=1)

print("Average precipitation in each city: ")
print(cities_avg_precip)

Average precipitation in each city:
name
BURNABY SIMON FRASER U            47.778598
CALGARY INTL A                    14.333333
GANDER INTL A                     39.912329
HALIFAX INTL A                    41.445055
REVELSTOKE                        23.409972
SHERBROOKE                        23.681440
TORONTO LESTER B. PEARSON INT'    17.521978
VANCOUVER INTL A                  36.522222
YELLOWKNIFE A                      6.154270
dtype: float64

In [32]:
#Find total precipitation for each quarter in each city
#city_quarter_totals=totals.resample('Q',axis=1)#resample the totals DataFrame, 'Q' stands for quarterly